# App
NODE_ENV=development
PORT=3000
CORS_ORIGIN=*

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=thoth
DB_USER=thoth
DB_PASSWORD=thoth

# Elasticsearch
ES_NODE=http://localhost:9200

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=thoth
KEYCLOAK_CLIENT_ID=thoth-api
